name: Deploy to Railway

on:
  workflow_dispatch:

  push:
    branches: [main]

env:
  REACT_APP_BACK_URL : https://backend-production-1abf.up.railway.app


jobs:
  units-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use Node 19
        uses: actions/setup-node@v1
        with:
          node-version: 19.x

      - name: Install packages
        run: npm ci --include=dev

      - name: Run tests
        run: npm run test

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: '${{ secrets.DOCKER_USER }}'
          password: '${{ secrets.DOCKER_PSW }}'

      - name: Build and Push to DockerHub
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ghilinoramiro/frontend-integradoris3:${{ github.run_number }}

      - name: Install Railway
        run: npm i -g @railway/cli

      - name: Deploy
        run: railway up -s frontend 
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
